LMS_BASE_URL=https://lms.prasetiyamulya.ac.id
LMS_LOGIN_URL=https://lms.prasetiyamulya.ac.id/login/index.php
LMS_USERNAME=adminstem
LMS_PASSWORD=admiNStem*123
LMS_CATEGORY_URLS=https://lms.prasetiyamulya.ac.id/course/index.php?categoryid=123
LMS_ATTENDANCE_URLS=https://lms.prasetiyamulya.ac.id/mod/attendance/manage.php?id=488605
LMS_COURSE_URLS=https://lms.prasetiyamulya.ac.id/course/view.php?id=18982
HEADLESS=false
OUTPUT_DIR=output
